{# WRITE BY A.ANSARI #}
{# ATTENTION DOOOO NOT CHANGE ANY THINS IN THIS FILE  #}
allow-axfr-ips={{ ip_axfr  }}
allow-dnsupdate-from={{ dnsupdate_ip }}
allow-notify-from={{ notify_ip }}
also-notify={{ also_notify }}
api= yes
api-key={{ api_key }}
include-dir={{ include_dir }}

launch=
   {{ launch }}
setuid={{ pdns_user }}
setgid={{ pdns_group }}
slave={{ slave_parametr }}
slave-cycle-interval={{ slave_cycle_interval }}
slave-renotify={{ slave_renotify }}
webserver={{ webserver }}
webserver-address={{  webserver_addr }}
webserver-allow-from={{ webserver_allow_from }}





