{# WRITE BY A.ANSARI #}
{# ATTENTION DOOOO NOT CHANGE ANY THINS IN THIS FILE  #}

launch+=gmysql
gmysql-host= {{ gmysql_host }}
gmysql-port= {{ gmysql_port  }}
gmysql-dbname= {{ gmysql_dbname }}
gmysql-user= {{ gmysql_user }}
gmysql-password= {{ gmysql_pass }}
gmysql-dnssec= {{ gmysql_dnssec }}



